name: Build
permissions:
  contents: read
  actions: read
  checks: write
  pull-requests: write

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew build koverLog koverXmlReport
      - name: Test Report
        uses: dorny/test-reporter@v2.2.0
        if: ${{ !cancelled() }}  # run this step even if a previous step failed
        with:
          name: JUnit Tests
          path: ${{ github.workspace }}/build/test-results/**/TEST-*.xml
          reporter: java-junit
      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: ${{ github.workspace }}/build/reports/kover/report.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 90
          min-coverage-changed-files: 80
          title: Code Coverage
          update-comment: true
